<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>
</div>
<% if @player.new_record? %>
  <%= turbo_frame_tag 'player_new' do %>
    <%= render partial: "players/form", locals: {player: @player} %>
  <% end %>
<% else %>
  <%= render partial: "estimates/form" %>
  <%= render partial: "players/index", locals: {players: @players} %>
<% end %>
