<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>
</div>
<% if @player.new_record? %>
  <%= turbo_frame_tag 'player_new' do %>
    <%= render partial: "players/form", locals: {player: @player} %>
  <% end %>
<% else %>
  <%= render partial: "games/field", locals: {myself:@player, player: @player, players: @players, point_status: @point_status} %>
<% end %>
