<div id="<%= dom_id game %>">
  <p>
    <strong>Token:</strong>
    <%= game.token %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>
</div>
<% if @player.new_record? %>
  <%= render partial: "players/form", locals: {player: @player} %>
<% else %>
  <%= render partial: "players/index", locals: {players: @players} %>
<% end %>
